<div class="row text-center">
    <div class="col-12">
        <img src="assets/images/noblecorral//Header-interior.jpg">
    </div>
    <div class="col-12 pt-0">
        <img src="assets/images/noblecorral//fondo-interior-nota.jpg">
    </div>
    <div class="col-10 offset-1 pl-5 nota-venta">
        <div class="row justify-content-between">
            <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="CierreTBK()"><span>Cierre</span></div>
            </div>
            <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="InicializacionTBK()"><span>Inicializacion</span></div>
            </div>
            <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="CargarLlavesTBK()"><span>Cargar Llaves</span></div>
            </div>
            <!-- <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="poolingTBK()"><span>Pooling</span></div>
            </div> -->
            <!-- <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="AnularTBK()"><span>Anular</span></div>
            </div>
            <div class="col-5 m-1 mt-5">
                <div class="boton" (click)="UltimaTBK()"><span>Ultima</span></div>
            </div> -->
            <div class="col-5 m-1 mt-5">
                <a class="boton" href="http://localhost/Tesoreria"><span>Tesoreria</span></a>
            </div>
        </div>
        <div class="row">
            <div class="descripcion col-12">
                Glosa: {{this.Glosa}}
            </div>
            <div class="descripcion col-12">
                Mensaje: {{this.Message}}
            </div>
        </div>
    </div>

</div>

<footer>
    <img src="assets/images/noblecorral/Footer-interior.jpg">
    <div class="row botonera w-100 pl-4">
        <div class="col-12 text-center">
            <button routerLink=""><img src="assets/images/noblecorral//Boton-salir.png"></button>
        </div>
    </div>
</footer>