<div class="row text-center">
    <div class="col-12" routerLink="/ingresonota">     
            <img src="assets/images/noblecorral/Header-principal-1080x350.jpg">
            <img src="assets/images/noblecorral/Banner-principal-1080x870.jpg">
            <img src="assets/images/noblecorral/Banner-principal-1080x700.jpg"> 
    </div>
</div>
<div (click)="menuespecial(1)" class="boton1">

</div>
<div (click)="menuespecial(2)" class="boton2" >

</div>
<div (click)="menuespecial(3)" class="boton3" >

</div>