<div class="row text-center">
    <div class="col-12">
        <img src="assets/images/noblecorral/Header-interior.jpg">
    </div>
    <div class="col-12 pt-0">
        <img src="assets/images/noblecorral/fondo-interior.jpg">
    </div>
    <div class="col-10 offset-1 pl-5 nota-venta-detalle">
        <div class="row">
            <div class="col-12">
                <h1>SELECCIONE</h1>

            </div>
            <div class="col-12">
                <span class="display-3">TIPO DE DOCUMENTO</span>
                <hr class="mt-2">
            </div>

        </div>
        <div class="col-8 offset-2 mt-5">
            <button class="mt-5" (click)="EleccionDcumento('B')" routerLink="/tipoPago"><img src="assets/images/noblecorral/boleta.png"></button>
            <button class="mt-5" (click)="EleccionDcumento('F')" routerLink="/tipoPago"><img src="assets/images/noblecorral/factura.png"></button>
        </div>
    </div>
</div>

<footer>
    <img src="assets/images/noblecorral/Footer-interior.jpg">
    <div class="row botonera w-100 pl-4">
        <div class="col-12 text-center">
            <button routerLink=""><img src="assets/images/noblecorral/Volver.png"></button>
        </div>
    </div>
</footer>